<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BuyList">
        <activity
            android:name=".LocationDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".EditBuyListActivity"
            android:exported="false" />
        <activity
            android:name=".BuyListListActivity"
            android:exported="true" />
        <activity
            android:name=".AddBuyListActivity"
            android:exported="true" />
        <activity
            android:name=".ItemDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".ItemsListActivity"
            android:exported="true" />
        <activity
            android:name=".AddLocationActivity"
            android:exported="true" />
        <activity
            android:name=".AddItemActivity"
            android:exported="true" />
        <activity
            android:name=".AddItemTypeActivity"
            android:exported="true"
            android:label="Add Item Type" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.BuyList.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>